/* MY FONT */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

/* global style */
body {
    margin:0;
    padding:0;
    font-family: "Plus Jakarta Sans", sans-serif;
     size: 110px;
}

html {
    scroll-behavior: smooth;
}

/* navbar style */
nav {
    background-color: #ff7400;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 3rem;
}   

.menu a {
    text-decoration: none;
    color: black;
    margin: 2rem;
    padding: 0.5rem;
    border-radius: 5px;
}

.menu a:hover {
    background-color: black;
    color:whitesmoke 
}

/* hero style */
#hero {
    display: flex;
    padding: 5rem;
    align-items: center;
}

.kiri {
    width: 60%;
}

.kanan {
    width: 40%;
    display: flex;
    justify-content: end;
}

.kanan img {
    width: 350px;
    border-radius: 0 2rem 0 2rem;
    box-shadow: 10px 10px 0px rgba(255, 128, 0, 0.846);
}

.button {
    display: flex;
    margin-top: 3rem;
}

.button a {
text-decoration: none;
margin-right: 2rem;
border: 2px solid #ff8a1f;
padding: 0.5rem;
color: #ff8a1f;
border-radius: 6px;
}

.button a:hover {
    background-color: #ff8a1f;
    color: white;
}

/* skill section */
#skills {
    background-color: whitesmoke;
    padding: 5rem;
}

#skills h2 {
    text-align: center;
    font-size: 40px;
}

#skills p {
    text-align: center;
    margin-bottom: 4rem;
}

.card {
display: flex;
gap: 1.5rem;
flex-wrap: wrap;
justify-content: center;
}

.item img {
    width: 30px;
}

.item {
    border: 2px solid #434343;
    width: 20%;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-transform: uppercase;
    border-radius: 5px;
    box-shadow: 10px 5px 0px rgba(255, 128, 0, 0.846);
}

/* testimoni style */
#testimoni {
    padding: 5rem;
}

#testimoni h2 {
    text-align: center;
    font-size: 35px;
    font-family: cursive;
}

.profile-image img {
    width: 120px;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    
}

.testimoni-card {
    background-color: whitesmoke;
    width: 300px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    box-shadow: 10px 10px 0px rgba(255, 128, 0, 0.846);
    border-radius: 20px;
    transition: 0.3s ease-in-out;
}

.testimoni-card:hover {
    transform: translateY(-40px);   
}

.profile-info {
    text-align: center;
}

.job {
    color: #3f3f3f;
}

.message {
    font-style: italic;
    line-height: 1.5;
}

.testimoni-container {
    display: flex;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
}



.logo h1 {
    font-family: "Bebas Neue", sans-serif ;
    color: whitesmoke;
}

/* style hape dan tab */

@media screen and (max-width: 958px) {
    nav {
        flex-direction: column;
        padding: 1rem;
    }

    .logo h1 {
        margin-top: 0   ;
    }

    .menu a {
        margin: 0rem;
        font-size: small;
    }

    #hero {
    flex-direction: column-reverse;
    padding: 2rem;
}

.kanan, .kiri {
    width: 100%;
}

.kiri {
    text-align: center;
}

.kanan {
    justify-content: center;
}

.button a {
    margin-right: 0;
}

.button {
    flex-direction: column;
    gap: 1rem;
}

#skills {
    padding: 2rem;
}

.card {
    flex-direction: column;
}

.item {
    width: 100%;
    box-sizing: border-box;

}

#testimoni {
    padding: 2rem;
}

.testimoni-card {
    padding: 1.5rem;
}

#contact {
    flex-direction: column;
    gap: 1rem;
}

.map {
    width: 100%;
    height: 300px;

}

footer {
    text-align: center;
    width: 100%;    
}

  

/* style tombol */

.tombol {
    background-color: rgb(255, 102, 0);
    color: whitesmoke;
    border-radius: 10px;
    width: 100%;
    margin-top: 0.5rem;
    padding: 5px;
}

.tombol:hover {
    background-color:rgb(0, 229, 0);
    color: whitesmoke;
}

}

/*footer css*/
    footer {
background-color: #ff7400;
padding: 20px;
border-radius: 15px;
box-sizing: border-box;

}

#contact {
    display: flex;
    gap: 5rem;
    justify-content: center;
    align-items: center;
}

footer h1 {
font-family: "Bebas Neue", sans-serif;
font-size: 30px;
text-align: center;
}